@model ForgotPasswordViewModel
<main>


    <div class="login-page">
        <div style="text-align: center;" class="title-loginregister mb-5">
            <h3>Login</h3>
        </div>
        <div class="form">

            <form class="login-form" asp-action="forgotpassword" method="post">
                <input asp-for="Email" placeholder="Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
               
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn">SEND</button>



            </form>
        </div>
    </div>

</main>