<main>
    <div style="padding: 20px;" class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Error 404</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="page-content container">
        <div class="content-wrap">
            <h1 class="page-title">404</h1>
            <h2>Oops! Page not found</h2>
            <p class="error-text mb-5">Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL.</p>
            <a asp-action="index" asp-controller="home" class="return-home button ">
                Go to home
            </a>
        </div>
    </div>






</main>